@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');



html, body {
    margin:0;
    padding:0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

@media (min-width: 770px){ 
    .menuContainer{
        position:fixed;
        height:10vh;
        width:100vw;
        display:flex;
        justify-content: flex-end;
        background-color: white;
    }
    .name{
        font-family: "Source Code Pro", serif;
        font-size: 10vh;;
    }
    .pageFeaturesContainer{
        display:flex;
        flex-direction:row;
        margin-right:4vw;
        gap:1.5rem;
    }
    .menuItem{
        color:black;
        font-weight: bold;;
        background-color:white;
        border:none;
        align-self: center;
    }
    .menuItem:hover{
        color: #B8B8B8;
        cursor:grab;
    }
    .mainSection{
        width:100vw;
        height:100vh;
    }

    .landingPage{
        background-image: url("../media/images.jpeg");
        background-size:cover;
        margin:0px;
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
    }
    .landingTextContainer{
        margin-top:4rem;
        color:black;
        text-align: center;
    }
    .socialMediaContainer{
        display:flex;
        justify-content:center
    }
    .socialMediaIcon{
        height:3rem;
        margin: 1rem;
        transition: background-color 0.3s ease, color 0.3s ease;
    }
    .socialMediaIcon:hover{
        background-color: white;
        border-radius:0.7rem;
        cursor:grab;
    }
    #githubIcon{
        border-radius: 50%;
    }
    #profilePresentation{
        display:flex;
        justify-content:center;
        align-items:center;
        flex-direction:row;
    }
    .profileContainer{
        height:70vh;
        width:70vw;
        display:flex;
    }
    .profilePicture{
        width:35vw;
        height:70vh;
        display:flex;
        flex-direction:row;
        justify-content:center;

    }
    #actualPicture{
        max-width: 100%;
        margin:2vw;
        box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
    }
    .profileDescription{
        width:35vw;
        height:70vh;
        margin-left:3vw;
    }
    .profileItemstext{
        line-height:1vh ;
        font-size:2vh;
    }
    .bold {
        font-weight: bold;
    }
    .services{
        display:flex;
        justify-content:center;
        align-items:center;
        background-color: #F0F0F0;
    }
    .servicesContainer{
        height:55vh;
        width:85vw;
        display:flex;
        flex-direction:column;

    }
    .servicesH1{
        text-align:center;
    }
    .servicesTitle{
        height:15vh;

    }
    .boxescontainer{
        height:55vh;
        display:flex;
        margin-top:10vh;
    }
    .servicesBox{
        width:18vw;
        padding:1rem;
        margin:2vw;
        box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1);
        display:flex;
        flex-direction:column;
        align-items:center;
    }
    .servicesBox:hover{
        background-color:white
    }
    .serviceItemTitle{
        text-align: center;
        margin-bottom:0;
    }
    .serviceIcon{
        width:4rem
    }
    .resume {
        display:flex;
        align-items:center;
        justify-content:center;
        
    }
    .resumeContainer{
        height:80vh;
        width:70vw;
        margin-top:4vh;
        display:grid;
        grid-template-columns: 1fr 1fr;
    }
    .shadowsInto{
        font-family: "Shadows Into Light", serif;
        font-size:8vh;
    }
    .sourceCodePro{
        font-family: "Source Code Pro", serif;
    }
    .mainTitle{
        font-size:4rem;
        color:#3B3B3B;
    }
    .unbold{
        font-weight: lighter;
    }
}

@media (min-width:480px) and (max-width:769px){

}

@media (min-width:0px) and (max-width:479px){

}