html, body {
    margin:0;
    padding:0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

@media (min-width: 770px){ 
    .menuContainer{
        position:fixed;
        height:4rem;
        width:100vw;
        display:flex;
        justify-content: flex-end;
        background-color: white;
    }
    .pageFeaturesContainer{
        display:flex;
        flex-direction:row;
        margin-right:4vw;
        gap:1.5rem;
    }
    .menuItem{
        color:black;
        font-weight: bold;;
        background-color:white;
        border:none;
        align-self: center;
    }
    .menuItem:hover{
        color: #00b4d9;
        cursor:grab;
    }
    .mainSection{
        width:100vw;
        height:100vh;
    }

    .landingPage{
        background-image: url("../media/landingPageCover.jpg");
        background-size:cover;
        margin:0px;
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
    }
    .landingTextContainer{
        margin-top:4rem;
        color:white;
        text-align: center;
    }
    .socialMediaContainer{
        display:flex;
        justify-content:center
    }
    .socialMediaIcon{
        height:3rem;
        margin: 1rem;
        transition: background-color 0.3s ease, color 0.3s ease;
    }
    .socialMediaIcon:hover{
        background-color: white;
        border-radius:0.6rem;
        cursor:grab;
    }
    #githubIcon{
        border-radius: 50%;
    }
    .profileContainer{
        display:flex;
    }
    .profileSection1{
        width:50vw;
        height:100vh;
        display:flex;
        justify-content: center;
    }

    #profilePicture{
        margin:1rem;
        box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3)
    }
    .profileSection2{
        width:50vw;
        height:100vh;
    }
}

@media (min-width:480px) and (max-width:769px){

}

@media (min-width:0px) and (max-width:479px){

}